<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Short URL Manager</title>
</head>
<body>
  <h1>Loading...</h1>

  <script>
    window.onload = function(_) {
      setTimeout(function() {
        window.location.replace(`<%= path %>`)
      }, 100)
    }
  </script>
</body>
</html>